<h1>Quotes</h1>
<a href="<%=url_for :new_quote %>">new</a>
<table>
	<tr>
		<th>no.</th>
		<th>ticker</th>
		<th>date</th>
		<th>actions</th>
	</tr>
	<% @quotes.each do |f|%>
	<tr>
		<td></td>
		<td><%=f.ticker%></td>
		<td><%=f.dtyyyymmdd%></td>
		<td> <%=link_to "show", quote_path(f)%> | <%=link_to "edit", edit_quote_path(f)%> | <%=link_to "delete", {:action=>:destroy, :id=>f.id}, :method => :delete, :confirm=>"Are you sure to delete this quote?" %></td>
	</tr>
	<% end %>
</table>
