<h1>New Quote</h1>
<%= form_for @quote, :url=>{:action=>:create } do |f| %>
	ticker: <%=f.text_field :ticker%><br />
	date: <%=f.text_field :dyyyymmdd%><br />
	open: <%=f.text_field :open%><br />
	high: <%=f.text_field :high%><br />
	low: <%=f.text_field :low%><br />
	close: <%=f.text_field :close%><br />
	vol: <%=f.text_field :vol%><br />
	openint: <%=f.text_field :openint%><br />
	<%=f.submit "create"%>
<% end%>
